
<h1>
<%=link_to"Home",say_home_path%>
<%=link_to"Index",say_index_path%>
<%=link_to"About",say_about_path%>
<%=link_to"Contact",say_contact_path%>
<%=link_to"Help",say_help_path%>
<%=link_to"Feedback",say_feedback_path%>
</h1>


<%= image_tag 'moderndesign1.jpg', :size=>"1000x250" %>